.instagram {
  padding: 120px 8%;
  background: #fafaf8;
}

.instagram-card {
  max-width: 700px;
  margin: auto;

  text-align: center;

  background: white;

  padding: 60px 40px;

  border-radius: 32px;

  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.instagram-logo {
  width: 90px;
  height: 90px;

  object-fit: contain;

  margin-bottom: 25px;

  transition: .3s;
}

.instagram-logo:hover {
  transform: scale(1.08);
}

.instagram-card h2 {
  margin: 15px 0;

  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
}

.instagram-card p {
  color: #666;
  margin-bottom: 25px;
}

.instagram-card h3 {
  margin-bottom: 30px;
  color: var(--accent);
}

.instagram-btn {
  display: inline-block;

  padding: 14px 28px;

  border-radius: 999px;

  background: linear-gradient(
    45deg,
    #f58529,
    #dd2a7b,
    #8134af,
    #515bd4
  );

  color: white;

  font-weight: 600;

  transition: .3s;
}

.instagram-btn:hover {
  transform: translateY(-3px);
}